.navigation-container{
    display: flex;
    flex-direction: row;
    width: 910px;
    margin: 0px 0px 0px 70px;
    border-top: gray solid 0.02px;
    
}
.navigation-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    
}